
<div id="chartInfo" class="table-responsive"><table id="tableData" class="table table-hover" border=1 ><thead><tr><th>id</th><th>Views</th><th>Uniques</th><th>Revenues</th></thead>table</table></div>